#{extends 'main.html' /}
#{set title:'MyBooks' /}

<script type="text/javascript">
    $(document).ready(function() {
            $("#authorId").megaselectlist({ animate: true, animateevent: "click" });
        });
</script>

<h3>Edit Book</h3>
        
<div id="edit-book-form">
#{form @updateBook()}
    <table>
    <tr>
    <td colspan="2"><label for="authorId">Author</label>
     <select id="authorId" name="authorId">
   <optgroup label="Authors A-F">
    #{list authorsA, as:'author'}
      <option value="${author.id}" #{if author.id.equals(authorId)} selected="selected"#{/if}>${author.toString()}</option>
    #{/list}
    </optgroup>
    <optgroup label="Authors G-L">
    #{list authorsG, as:'author'}
      <option value="${author.id}" #{if author.id.equals(authorId)} selected="selected"#{/if}>${author.toString()}</option>
    #{/list}
    </optgroup>
    <optgroup label="Authors M-R">
    #{list authorsM, as:'author'}
      <option value="${author.id}" #{if author.id.equals(authorId)} selected="selected"#{/if}>${author.toString()}</option>
    #{/list}
    </optgroup>
    <optgroup label="Authors S-Z">
    #{list authorsS, as:'author'}
      <option value="${author.id}" #{if author.id.equals(authorId)} selected="selected"#{/if}>${author.toString()}</option>
    #{/list}
    </optgroup>
    
    </select>
    </td></tr>
    <tr>
    <td>Title</td>
    <td><input type="text" name="title" size="80" value="${book?.title}"/>
    </td></tr>
    <tr>
    <td>Subtitle</td>
    <td><input type="text" name="subtitle" size="80" value="${book?.subtitle}"/>
    </td></tr>
    <tr>
    <td>URL</td>
    <td> <input type="text" name="url" size="80" value="${book?.url}"/>
    </td></tr>
    <tr>
    <td>ISBN-10</td>
    <td><input type="text" name="isbn10" size="80" value="${book?.isbn10}"/>
    </td></tr>
    <tr>
    <td>ISBN-13</td>
    <td><input type="text" name="isbn13" size="80" value="${book?.isbn13}"/>
    </td></tr>
    </table>
    <input type="hidden" name="bookId" value="${book?.id}"/>
    <p>
        <input type="submit" value="Update" />
    </p>
#{/form}
</div>





